.input-container {
  position: relative;
  display: flex;
  outline: none;
}

.textfield {
  width: 50vw;
  height: 20vw;
  border-top-left-radius: 6vw;
  border-bottom-left-radius: 6vw;
  padding: 0;
  padding-left: 25px;
  font-size: 9vw;
  border: 1px solid rgb(128, 128, 128);
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.send-button {
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
  width: 20vw;
  height: 20vw;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgb(128, 128, 128);
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 6vw;
  border-bottom-right-radius: 6vw;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 200ms;
  transition-property: background-color, border, opacity;
}

.send-button:active {
  border: 1px solid rgb(59, 59, 59);
  background-color: #eeeeee;
  border-left: none;
}